# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# IDE project files
.idea/
.vscode/

# Logs
*.log


