# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# IDE project files
.idea/
.vscode/

# Logs
*.log


mlflow/**/mlruns/
mlflow/**/mlflow.db
mlruns/
mlflow.db

# Local env files (may contain tokens)
.env
